@using GestionPacientes2.Core.Application.ViewModels.User;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card shadow-sm" >
            <div class="card-body">
                <p class="h2 my-2"> Iniciar de Sesion</p>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <form method="post" asp-controller="User" asp-action="Login">
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label">Nombre de usuario</label>
                        <input class="form-control" placeholder="Ingrese su nombre de usuario" asp-for="Username">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Contraseña</label>
                        <input class="form-control" placeholder="Ingrese su contrasena" asp-for="Password">
                    </div>
                    <div class="d-flex justify-content-end">

                    <button type="submit" class="mt-2 btn btn-outline-primary ">Iniciar sesión</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

